<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<style>

</style>
</head>

    .container{
        display:flex;
        column-gap:100px;
    }
    #login{
        color: white;
        background-color: greenyellow;
        border:20px transparent greenyellow;
        padding: 10px;
        margin: 2px;
    }