<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<style>

</style>
</head>
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%
    justify-content: space-between;
    align-items: center;
    
}
nav ul{
    display:flex;
    justify-content: center;
    gap: 5em;
    margin-right: 25em;
    list-style: none;
    color:#DDAED3
}
a{text-decoration: none;}
.navbar{
    color:#DDAED3;
    text-decoration: none;
    background-color: #6594B1;
    height: auto;
    width: auto;
    border:3px solid #6594B1;
    border-radius: 10px;
}

.navbar:hover{background-color:#EEEEEE !important;
        border:2px solid #EEEEEE;}
    header{
        
        background-color:#213C51;
        color: #6594B1;
        height: auto;
        width: auto;
        border:10px solid #213C51;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    body{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
    #login{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #EEEEEE;
        background-color: #DDAED3;
        height: 30px;
        width: 60px;
        text-align: center;
        border:2px solid #DDAED3;
        margin:auto;
        margin-: auto;
        
    }
#logo{
    background-color: #6594B1;
    height:50px;
    width:auto;
}
#container{

}
